#my-chip {
  margin-right: 12px;
}

.center-align-items {
  text-align: center;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}
.header-background {
  background-color: #0066b8;
  color: #fee;
}
#my-container {
  background-color: #eeeeee;
}
#button-style {
  background-color: #0066b8;
  color: #fff;
  margin-left: 12px;
}
#search-lookup-paper {
  padding: 10px;
  align-items: center;
}
#search-icon-padding {
  padding: 10;
}
.search-input {
  margin-right: 12px;
}
